.config/nvim/lazy-lock.json
.config/chromium/
.config/dconf/
.config/enchant/
.config/gedit/
.config/systemd/user/default.target.wants/
.config/configstore/
.config/goa-1.0
.config/nautilus
.config/pulse
.config/ibus
.config/google-chrome
.config/gtk-3.0
.config/.gsd-keyboard.settings-ported
.config/mimeapps.list
.config/monitors.xml
.config/user-dirs.dirs
.config/user-dirs.locale
.config/evolution/
.config/gnome-session/
.config/yay/

.ssh/azure_repo
.ssh/azure_repo.pub
.ssh/github
.ssh/github.pub

*.bak*
*~
*.old*
