.config/nvim/lazy-lock.json
.config/chromium/
.config/dconf/
.config/enchant/
.config/gedit/
.config/systemd/user/default.target.wants/
.config/configstore/

.ssh/github
.ssh/github.pub
.ssh/known_hosts

*.bak
*~
*.old
